# don't ever commit backup repos
.git_backup/

# python / env
__pycache__/
venv/
.venv/

# big raw data we don't want on GitHub
data/raw/
models/df_*.csv
models/per_user_metrics_*.csv
models/predictions.csv